@font-face {
    font-family: 'GenJyuuGothicX-Bold';
    src: url('GenJyuuGothicX-Bold.woff2') format('woff2'),
    url('GenJyuuGothicX-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
