@font-face {
    font-family: 'GenJyuuGothicX-Light';
    src: url('GenJyuuGothicX-Light.woff2') format('woff2'),
    url('GenJyuuGothicX-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
